{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section id="about"> <!-- about -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 style="padding-top: 0; margin-top: 0;">О нас</h2>
            <p>Российская компания <b>LoffiLab</b> (Лаборатория окна) существует с 1997 года, ее создали Валерий и его жена Натали.
                Этой креативной паре очень сложно удержаться в рамках комплектов и коллекций.</p>
            <p>
                <i>«Мне трудно продавать простую историю из дивана и двух кресел,</i> - признается Валерий.- <i>Я не люблю «ансамбли».
                    Мы предлагаем объекты, а люди потом делают с ними, что хотят. Это очень важная связь между нами и клиентами.»</i>
            </p>
            <div class="jumbotron text-center" style="padding: 1rem;">
                Если бы нас попросили описать себя одним словом, то этим словом стало бы - <b>Мечта</b>.
            </div>
            <p>Ведь Loffilab родилась из мечты. Из огромного желания одного конкретного человека надеяться, мечтать и претворять в жизнь.</p>
        </div>
        <div class="row nomargin">
            <div class="col-md-6">
                <p>
                    Если бы нас попросили описать себя в нескольких словах, то мы бы ответили что <b>Loffilab</b> – это пространство где мечта претворяется в жизнь.
                    Место, где из пустоты рождается любимый диван, на котором так приятно лежать с книжкой и чашкой какао, и абсолютно не хочется вставать по выходным.
                    Пространство, где по кусочкам можно создать любимое покрывало с которым затем невозможно будет расстаться и придется перевозить его из дома в дом, понимая,
                    что там где оно и есть дом, КАК дома. Это место, где с помощью линий, идеи и пары любящих рук Вы спроектируете свой, тот самый комод,
                    где в дальнейшем будут лежать ваши и вещи, а затем и вещи ваших детей с их забавными зайчиками и мишками на распашонках.
                    Это пространство где создается история, Ваша история. История вашей семьи и вашего дома, с его укромными уголочками, потаенными шкафчиками и праздничными залами.
                </p>
            </div>
            <div class="col-md-6">
                    <img class="img-responsive" src="{% static 'images/about1.jpg' %}">
            </div>
        </div>
        <div class="row nomargin">
            <div class="col-md-6">
                    <img class="img-responsive" src="{% static 'images/about2.jpg' %}">
            </div>
            <div class="col-md-6">
                <p>
                    <b>Loffilab</b> – это не только удивительная команда, новейшие технологии, эксклюзивные ткани и современный дизайн интерьера.
                    Loffilab – это душа! Это любящие руки наших краснодеревщиков, тепло деревянных стружек, упругий звон пружин, округлость железных гвоздиков,
                    запах клея, шершавость свежеотшкуренных ножек, плотность натуральных тканей и -мечта!
                </p>
                <p>
                    Впервые мы открыли свои двери в 1997 году и вот уже на протяжении 16 лет не перестаем развиваться, создавать и удивлять друг друга.
                    За это время выросли наши дети и тоже стали частью команды, привнеся в нее свое видение, бунтарство и нежелание мириться с рамками.
                    Были созданы уникальные проекты, как в России, так и за рубежом.
                    Подписаны договоры, заключены сотрудничества, трансформированы сотни домов, интерьеров и судеб их хозяев.
                </p>
            </div>
        </div>
        <div class="row nopadding">
            <div class="col-xs-12">
                <p>
                    За это время вся наша команда прошла испытание временем и творчеством.
                    Были найдены уникальные таланты, созданы эксклюзивные коллекции, потрачено много нервов,
                    даже думаем пролито немало слез, но еще больше было улыбок, счастливых глаз, быстрого сердцебиения и восторженного – Да!
                </p>
                <p>
                    <b>Loffilab</b> – это команда близких по духу людей: дизайнеров, декораторов, инженеров, художников,
                    краснодеревщиков, мастеров по свету, цвету, ремонту, реставраторов и архитекторов.
                    Это дизайн интерьера дома, дизайн интерьера спальни, современный дизайн интерьера.
                    Это классика и современность, арт-деко и ренессанс. Это все что Вы хотели и даже не мечтали сотворить.
                </p>
                <p>
                    <b>Loffilab</b> – это площадка. Это место куда Вы можете придти и Вам будут рады!
                    Рады, как последовать за Вашей мечтой, так и помочь найти ее в интерьере, мебели, ткани или пространстве – не важно. Важно просто придти!
                </p>
                <p>
                    <b>Приходите , мы будем ждать! И у нас все получится! Даже лучше чем Вы можете себе представить.
                    Ведь в Loffilab - правил нет, потому что Loffilab – это свобода. СВОБОДА МЕЧТАТЬ!!! Так давайте мечтать ВМЕСТЕ!</b>
                </p>
                <p class="text-center">
                    <b>Мы – Верим в мечту!!!!</b>
                </p>
            </div>
            <div class="col-xs-12 text-center" style="padding-bottom: 3rem;"><br><p>
                <b>«Loffilab»</b> - это удивительная команда, новейшие технологии, эксклюзивные ткани и современный дизайн интерьера.<br>
                За годы работы были созданы уникальные проекты как в России, так и за рубежом.<br>
                Подписаны договоры, заключены сотрудничества, трансформированы сотни домов и интерьеров.<br><br>

                <b>Мы готовы предложить индивидуально для Вас лучшие на рынке условия для <i>взаимовыгодного сотрудничества.</i></b><br><br>

                Воплотите свои замыслы с нашей помощью! Ждем Вас в наших шоу-румах!<br><br>

                Звоните нам по телефону <b>+7 (499) 502-41-71</b> и пишите на адрес <b>info@loffilab.ru</b></p>
            </div>
        </div>
    </div>
</div>
</section> <!-- /about -->
{% endblock %}
