{% load staticfiles %}
<footer id="footer"><!--Footer-->
<div class="footer-widget">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 pull-right">
                <div class="companyinfo">
                   <span><a href="/"><img style="height:39px;" src="{% static 'images/logo.png' %}"></a></span>
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>#}
                </div>
                <div class="social-icons block-center text-center">
                    <ul class="nav navbar-nav">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest-square"></i></a></li>
                        <li><a href=""><i class="fa fa-vk"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 text-xs-center nopadding" style="position: relative;">
                    <p style="padding-top: 0; padding-left: 0;">Copyright © 2016 LoffiLab</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="contactinfo text-center">
                    <ul class="nav nav-pills hidden-xs">
                        <li><a href="tel:+7 (499) 502 41 71">+7&nbsp;499&nbsp;502&nbsp;41&nbsp;71</a></li>
                        <li><a href="mailto:info@loffilab.ru">info@loffilab.ru</a></li>
                    </ul>
                    <div class="visible-xs contact-xs">
                        <div><a href="tel:+7 (499) 502 41 71">+7&nbsp;499&nbsp;502&nbsp;41&nbsp;71</a></div>
                        <div><a href="mailto:info@loffilab.ru">info@loffilab.ru</a></div>
                    </div>
                </div>
                <div class="text-xs-center address-copy">
                    <p><br>Россия,&nbsp;Москва<br>ул.&nbsp;Спиридоновка, д.4, стр.1, 1-й&nbsp;этаж<br>метро&nbsp;Тверская</p>
{#                    <p style="padding-top: 0px; margin-left: 0;">Copyright © 2016 LoffiLab</p>#}
                </div>
            </div>
        </div>
    </div>
</div>
</footer>