{% extends 'base.html' %}

{% load thumbnail %}
{% load item_details %}

{% block content %}
<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner embed-responsive embed-responsive-16by9" role="listbox">
                        {% for ms in main_slides %}
                            <div class="item{% if forloop.first %} active{% endif %} embed-responsive-item">
                                {% thumbnail ms.image "1250" as sl %}
                                <img src="{{ sl.url }}" alt="{{ ms.title }}" class="img-responsive center-block">
                                {% endthumbnail %}
                            </div>
                        {% endfor %}
                    </div>
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
{#                        <i class="fa fa-angle-left"></i>#}
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
{#                        <i class="fa fa-angle-right"></i>#}
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->


{% if news %}
<section id="news"> <!--news-->
<div class="container">
<div class="row">
<div class="col-xs-12 nopadding" ><!--features_items-->
	<h2 class="title" style="margin-top: 3rem; margin-bottom: 0.5rem;"><a href="{% url 'news' %}" style="text-decoration: none;">Новости</a></h2>
    {% for n in news %}
        <div class="col-xs-6 col-sm-4 col-md-3{% if forloop.last %} hidden-sm{% endif %}">
            <a href="{% url 'article' n.link %}">
                <div class="product-image-wrapper noborder">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div class="embed-responsive embed-responsive-16by9 text-center">
                                <div class="embed-responsive-item change-opacity">
                                {% thumbnail n.image "270" as thnl %}
                                    <img src="{{ thnl.url }}" alt="{{ n.title }}" class="image-resized img-res-16by9" />
                                {% endthumbnail %}
                                </div>
                            </div>
                            <h3 class="slow-transition nomargin">{{ n.title }}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
</div>
</div> <!--/features_items-->
</section> <!--/news-->
{% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
    // Normalize Carousel Heights - pass in Bootstrap Carousel items.
    $.fn.carouselHeights = function() {

        var items = $(this), //grab all slides
            heights = [], //create empty array to store height values
            tallest; //create variable to make note of the tallest slide

        var normalizeHeights = function() {

            items.each(function() { //add heights to array
                heights.push($(this).height());
            });
            tallest = Math.max.apply(null, heights); //cache largest value
            items.each(function() {
                $(this).css('min-height',tallest + 'px');
            });
        };

        normalizeHeights();

        $( window ).on('resize orientationchange', function () {
            //reset vars
            tallest = 0;
            heights.length = 0;

            items.each(function() {
                $(this).css('min-height','0'); //reset min-height
            });
            normalizeHeights(); //run it again
        });

    };

{#    jQuery(function($){#}
{#        $(window).on('load', function(){#}
{#            $('#slider-carousel .item').carouselHeights();#}
{#        });#}
{##}
{#    });#}
    </script>
{% endblock %}